[user]
	name = Hussein Al Abry
	email = hussein@zidhuss.tech
	signingkey = key::ssh-ed25519 AAAAC3NzaC1lZDI1NTE5AAAAIEhUktjsxUkkZybwH+NWcZajqfhIUEr+tdX1iFWo6YgJ
[init]
	defaultBranch = main
[commit]
	verbose = true
	gpgsign = true
[merge]
	conflictstyle = diff3
[core]
	excludesfile = ~/.gitignore
    pager = delta
[interactive]
    diffFilter = delta --color-only
[fetch]
	prune = true
[pull]
	rebase = true
[rebase]
	autoStash = true
[delta]
    navigate = true # use n and N to move between diff sections
    light = true    # set to true if you're in a terminal w/ a light background color (e.g. the default macOS terminal)
[gpg]
	format = ssh
[gpg "ssh"]
	allowedSignersFile = ~/.config/git/allowed_signers
[log]
	showSignature = true
[url "git@github.com:"]
    insteadOf = "https://github.com/"
