[user]
	name = Hussein Mohammed
	email = zidhussein@gmail.com
	signingkey = zidhussein@gmail.com
[push]
	default = simple
[commit]
    gpgsign = true
[diff]
	tool = vimdiff
[fetch]
    prune = true
[merge]
	tool = vimdiff
	algorithm = histogram
[mergetool]
    prompt = true
[mergetool "vimdiff"]
    cmd = nvim -d $LOCAL $REMOTE $MERGED -c '$wincmd w' -c 'wincmd J'
[difftool]
    prompt = false
[http]
	cookiefile = /home/huss/.config/.gitcookies
