! Compile xft: Attempt to find a visual with the given bit depth; option -depth.
! URxvt*depth: 32



! Create the window with the specified X window geometry [default 80x24]; option -geometry.
URxvt*geometry: 80x24

! Select the fonts to be used. This is a comma separated list of font names that are checked in order when
*font: -*-terminesspowerline-medium-r-normal-*-12-*-*-*-c-*-*-1, -*-terminus-medium-r-normal-*-12-*-*-*-c-*-*-u
boldFont: --*-terminus-bold-r-normal-*-12-*-*-*-c-*-*-u


! When font styles are not enabled, or this option is enabled (True, option -is, the default), bold/blink font
URxvt*intensityStyles: false

! True: enable the scrollbar [default]; option -sb. False: disable the scrollbar; option +sb.
URxvt*scrollBar: False

! True: blink the cursor. False: do not blink the cursor [default]; option -bc.
URxvt*cursorBlink: True

! Specifies the program to be started with a URL argument. Used by the "selection-popup" and "matcher" perl
! URxvt*url-launcher: string

URxvt*cursorUnderline: True


URxvt.perl-ext: default,url-select
URxvt.keysym.M-u: perl:url-select:select_next
URxvt.url-select.launcher: /usr/bin/xdg-open
URxvt.url-select.underline: true

! Base16 Eighties
! Scheme: Chris Kempson (http://chriskempson.com)

#define base00 #2d2d2d
#define base01 #393939
#define base02 #515151
#define base03 #747369
#define base04 #a09f93
#define base05 #d3d0c8
#define base06 #e8e6df
#define base07 #f2f0ec
#define base08 #f2777a
#define base09 #f99157
#define base0A #ffcc66
#define base0B #99cc99
#define base0C #66cccc
#define base0D #6699cc
#define base0E #cc99cc
#define base0F #d27b53

*.foreground:   base05
*.background:   base00
*.cursorColor:  base05

*.color0:       base00
*.color1:       base08
*.color2:       base0B
*.color3:       base0A
*.color4:       base0D
*.color5:       base0E
*.color6:       base0C
*.color7:       base05

*.color8:       base03
*.color9:       base09
*.color10:      base01
*.color11:      base02
*.color12:      base04
*.color13:      base06
*.color14:      base0F
*.color15:      base07

*colorIT:       base0A
*colorBD:       base0B
*colorUL:       base0F
