! Compile xft: Attempt to find a visual with the given bit depth; option -depth.
! URxvt*depth: 32

! Create the window with the specified X window geometry [default 80x24]; option -geometry.
URxvt*geometry: 80x24

! Font
Xft.autohint: true
Xft.antialias: true
Xft.hinting: true
Xft.hintstyle: hintslight
Xft.rgba: rgb
Xft.lcdfilter: lcddefault
! Select the fonts to be used. This is a comma separated list of font names that are checked in order when
*font: xft:Fira\ Mono\ for\ Powerline:size=8, xft:Terminess\ Powerline:size=8
*letterSpace: -2

! *font: -ypn-envypn-medium-r-normal--13-130-75-75-c-90-iso8859-1
*boldFont:

! When font styles are not enabled, or this option is enabled (True, option -is, the default), bold/blink font
URxvt*intensityStyles: False

! True: enable the scrollbar [default]; option -sb. False: disable the scrollbar; option +sb.
URxvt*scrollBar: False

! True: blink the cursor. False: do not blink the cursor [default]; option -bc.
URxvt*cursorBlink: True

! Specifies the program to be started with a URL argument. Used by the "selection-popup" and "matcher" perl
! URxvt*url-launcher: string

URxvt*cursorUnderline: False

URxvt.internalBorder: 20


URxvt.perl-ext-common: default,url-select
URxvt.keysym.M-u: perl:url-select:select_next
URxvt.url-select.launcher: /usr/bin/xdg-open
URxvt.url-select.underline: true

! Base16 Eighties
! Scheme: Chris Kempson (http://chriskempson.com)

#define base00 #101010
#define base01 #252525
#define base02 #464646
#define base03 #525252
#define base04 #ababab
#define base05 #b9b9b9
#define base06 #e3e3e3
#define base07 #f7f7f7

#define base08 #7c7c7c
#define base09 #999999
#define base0A #a0a0a0
#define base0B #8e8e8e
#define base0C #868686
#define base0D #686868
#define base0E #747474
#define base0F #5e5e5e

*.foreground:   base05
*.background:   base00
*.cursorColor:  base05

*.color0:       base00
*.color1:       base08
*.color2:       base0B
*.color3:       base0A
*.color4:       base0D
*.color5:       base0E
*.color6:       base0C
*.color7:       base05

*.color8:       base03
*.color9:       base09
*.color10:      base01
*.color11:      base02
*.color12:      base04
*.color13:      base06
*.color14:      base0F
*.color15:      base07

*colorIT:       base0A
*colorBD:       base0B
*colorUL:       base0F
